{% extends "layout.html" %}

{% block body %}
<p>

</p>

{% if overflow is defined and current_user.job == 'ADMIN' %}
<p>
  Seuraavilla viikoilla on tunteja jotka ovat ylimiehitettyjä!
</p>
<table class="table table-hover">

  <tr>
    <th scope="col">Vuosi & viikko</th>
    <th scope="col">Ylimiehityksen määrä</th>
  </tr>
  <ul>
    {% for viikko in overflow %}
    <tr>
      <td>{{ viikko.vuosi }}, {{ viikko.numero }}</td>
      <td>{{ viikko.over }}</td>
    </tr>
    {% endfor %}
  </ul>
</table>
{% endif %}
{% endblock %}