<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SairaalaTyövuoro</title>
  </head>
  
  <body>
    {% if current_user.is_authenticated %}
      <p>
        Kirjautunut nimellä {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
     </p>
     {% if current_user.is_admin %}
     <ul>  
       <li><a href="{{ url_for('users_form') }}">Lisää työntekijä</a></li>
     </ul>
     <ul>
       <li><a href="{{ url_for('users_index') }}">Lista työntekiöistä</a></li>    
     </ul>
     <ul>
        <li><a href="{{ url_for('kiireellisyysluokat_index') }}">Lista kiireellisyysluokista</a></li>    
     </ul>
     <ul>
        <li><a href="{{ url_for('kiireellisyysluokat_form') }}">Lisää kiireellisyysluokka</a></li>    
    </ul>
     {% endif %}
    {% else %}
    <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
    
    <ul>  
      <li><a href="{{ url_for('users_form') }}">Lisää työntekijä</a></li>
    </ul>
    {% endif %}
    {% block body %}
    <p>
    </p>
    {% endblock %}
  </body>
</html>  