{% extends "layout.html" %}

{% block body %}
<h2>Muokkaa Tuntia</h2>
<form method="POST">
    <div class="form-group">

        {{ form.userit.lable }}
        {{ form.userit(class="custom-radio my-1 mr-sm-2") }} {{ form.username.label(class="col-sm-2 col-form-label") }}
        {{ form.username(class="form-control") }}
        <ul>
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}