{% extends "layout.html" %}

{% block body %}
<span style="color: red;">{{ error }}</span>
<form method="POST" action="{{ url_for('auth_login') }}">
  <div class="form-group">
    {{ form.username.label(class="col-sm-2 col-form-label") }}
    {{ form.username(class="form-control") }}
    <ul>
      {% for error in form.username.errors %}
      <span style="color: red;">
        <li>{{ error }}</li>
      </span>
      {% endfor %}
    </ul>
    {{ form.password.label(class="col-sm-2 col-form-label") }}
    {{ form.password(class="form-control") }}
    <ul>
      {% for error in form.password.errors %}
      <span style="color: red;">
        <li>{{ error }}</li>
      </span>
      {% endfor %}
    </ul>
    {{ form.submit(class="btn btn-primary") }}
    </div}>
</form>
{% endblock %}