{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('employees_create') }}">
  <table>
    <tbody>
      <td>Nimi: <input type="text" name="name"/></td>  
      <td>Salasana: <input type="text" name="password"/></td>
      <td>Työnimike: 
      <select name="job" type="text">
        <option value="Lääkäri">Lääkäri</option>
        <option value="Sairaanhoitaja">Sairaanhoitaja</option>
        <option value="Perushoitaja">Perushoitaja</option>
      </select>
      </td>
      <td><input type="submit" value="Lisää työntekiä"/></td>
    </tbody>
  </table>
</form>
{% endblock %}