{% extends "layout.html" %}

{% block body %}
<h2>Muokkaa kiireellisyysluokkaa</h2>
<form method="POST">
  <div class="form-group">
    {{ form.laakarit.label(class="col-sm-2 col-form-label") }}
    {{ form.laakarit(class="form-control") }}
    <ul>
      {% for error in form.laakarit.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {{ form.sairaanhoitajat.label(class="col-sm-2 col-form-label") }}
    {{ form.sairaanhoitajat(class="form-control") }}
    <ul>
      {% for error in form.sairaanhoitajat.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {{ form.perushoitajat.label(class="col-sm-2 col-form-label") }}
    {{ form.perushoitajat(class="form-control") }}
    <ul>
      {% for error in form.perushoitajat.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {{ form.submit(class="btn btn-warning") }}
  </div>
</form>
{% endblock %}