{% extends "layout.html" %}

{% block body %}
<table class="table table-hover">
  <tr>
    <th scope="col">vuosi</th>
    <th scope="col">Viikon numero</th>
  </tr>
  {% for viikko in viikot %}
  <tr>
    <td>{{ viikko.vuosi }}</td>
    <td>{{ viikko.numero }}</td>
    <td><a href="{{ url_for('viikot_show', id=viikko.id) }}">näytä</a></td>
    <td>
      <form method="POST" action="{{ url_for('viikot_edit', id=viikko.id) }}">
        <input type="submit" value="muokkaa" class="btn btn-warning" />
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('viikot_delete', id=viikko.id) }}">
        <input type="submit" value="POISTA" class="btn btn-danger" />
      </form>
    </td>

  </tr>
  {% endfor %}
</table>
{% endblock %}