{% extends "layout.html" %}

{% block body %}
<table class="table table-hover">
  <tr>
    <th scope="col">vuosi</th>
    <th scope="col">Viikon numero</th>
    {% if current_user.job != 'ADMIN' %}
    <th scope="col">tunteja</th>
    {% endif %}
    <th scope="col">linkki viikkoon</th>
  </tr>
  {% for viikko in viikot %}
  <tr>
    {% if current_user.job == 'ADMIN' %}
    <td>{{ viikko.vuosi }}</td>
    <td>{{ viikko.numero }}</td>
    <td><a href="{{ url_for('viikot_show', id=viikko.id) }}">näytä</a></td>
    {% else %}
    <td>{{ viikko.viikko.vuosi }}</td>
    <td>{{ viikko.viikko.numero }}</td>
    <td>{{ viikko.tunteja }}</td>
    <td><a href="{{ url_for('viikot_show', id=viikko.viikko.id) }}">näytä</a></td>
    {% endif %}

    {% if current_user.job == 'ADMIN' %}
    <td>
      <form method="POST" action="{{ url_for('viikot_edit', id=viikko.id) }}">
        <input type="submit" value="muokkaa" class="btn btn-warning" />
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('viikot_delete', id=viikko.id) }}">
        <input type="submit" value="POISTA" class="btn btn-danger" />
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}